/* You can add global styles to this file, and also import other style files */

/* Add global styles here */
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-typography {
  font-family: "Roboto", sans-serif;
}

/* Add any other global styles you need */
